
/*  =======================================================================================
	=========   MON CODE DE RESPONSIVITE CONSERNANT LE NAV BAR ( LA BARRE DE MENU)   ======
	=======================================================================================  */

@media screen and (min-width: 370px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 100%; height: 200px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 100px;}
	.Mediatec{ margin-left: 0; margin-top: 20px;}
	.menu{ text-align: center }
	.menu ul{ margin-left: 0%; text-align: center;}
	.menu ul li{ padding: 0 5%;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; }
	.seConnecter{  }
	.cont{ height: 340px; }
}
@media screen and (min-width: 470px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 100%; height: 200px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 130px; margin-right: 0px }
	.Mediatec{ left: 10px; }
	.menu{ text-align: center }
	.menu ul{ margin-left: 10%;}
	.menu ul li{ padding: 0 5%;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; }
	.seConnecter{  }
}
@media screen and (min-width: 670px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 100%; height: 200px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 250px; margin-right: 0px }
	.Mediatec{ left: 10px; }
	.menu{ text-align: center }
	.menu ul{ margin-left: 16%;}
	.menu ul li{ padding: 0 6%;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; }
	.seConnecter{  }
}
@media screen and (min-width: 800px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 27% 40% 33%; height: 60px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 0; margin-right: 0px }
	.Mediatec{ left: 15px; }
	.menu{ text-align: center }
	.menu ul{ margin-left: -10px;}
	.menu ul li{ padding: 0 10px;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; font-size: 11px; width: 132px;}
	.seConnecter{ margin-left: 5px; font-size: 11px; width: 85px;}
	.cont{ top: 3px; height: 478px; }
}
@media screen and (min-width: 950px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 30% 40% 30%; height: 60px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 0; margin-right: 0px }
	.Mediatec{ left: 15px; }
	.menu{ text-align: center }
	.menu ul{ margin-left: -10px;}
	.menu ul li{ padding: 0 15px;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; font-size: 11px; width: 132px;}
	.seConnecter{ margin-left: 5px; font-size: 11px; width: 85px;}
}
@media screen and (min-width: 1060px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 30% 40% 30%; height: 60px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 10px; margin-right: 0px }
	.Mediatec{ left: 15px; }
	.menu{ text-align: center }
	.menu ul{ margin-left: 20px;}
	.menu ul li{ padding: 0 15px;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; font-size: 12px; width: 145px;}
	.seConnecter{ margin-left: 5px; font-size: 12px; width: 98px;}
}
@media screen and (min-width: 1150px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 30% 40% 30%; height: 60px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 40px; margin-right: 0px }
	.Mediatec{ left: 15px; }
	.menu{ text-align: center }
	.menu ul{ margin-left: 20px;}
	.menu ul li{ padding: 0 25px;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; font-size: 12px; width: 146px;}
	.seConnecter{ margin-left: 5px; font-size: 12px; width: 98px;}
}
@media screen and (min-width: 1260px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 30% 43% 27%; height: 60px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 50px; margin-right: 0px }
	.Mediatec{ left: 15px; }
	.menu{ text-align: center }
	.menu ul{ margin-left: 60px;}
	.menu ul li{ padding: 0 25px;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; font-size: 13px; width: 150px;}
	.seConnecter{ margin-left: 5px; font-size: 13px; width: 100px;}
}
@media screen and (min-width: 1340px){
	header{ width: 100%; }
	.contMenu{ display: inline-grid; grid-template-columns: 30% 43% 27%; height: 60px; width: 100%; margin: 0;}
	.logo{ margin: 0;}
	.logo img{ margin-left: 70px; margin-right: 0px }
	.Mediatec{ left: 15px; }
	.menu{ text-align: center }
	.menu ul{ margin-left: 100px;}
	.menu ul li{ padding: 0 25px;}
	.menu ul li a{ }
	.SAVconnecte{ text-align: center }
	.sInscrire{ margin-left: 0px; font-size: 14px; width: 165px;}
	.seConnecter{ margin-left: 5px; font-size: 14px; width: 115px;}
}



/*  =======================================================================================
	=========   MON CODE DE RESPONSIVITE CONSERNANT LE HEADER( C A DIRE L ENTETE )   ======
	=======================================================================================  */

@media screen and (min-width: 370px){
	.cont{ text-align: center; margin-left: 0px; }
	.h1 p{ font-size: 26px; top: -75px; position: relative;}
	.h3 { font-size: 18px; top: -80px; position: relative;}
	.h4 { font-size: ; top: -65px; position: relative;}
	.cont a button{ top: -40px; position: relative; }
}
@media screen and (min-width: 800px){
	.cont{ margin-left: 0; text-align: left; }
	.h1 p{ font-size: 36px; margin-left: 3%; top: 0px; position: relative; }
	.h3 { font-size: 26px; margin-left: 3%; top: 10px; position: relative; }
	.h4 { font-size: ; margin-left: 3%; top: 40px; position: relative; }
	.cont a button{ margin-left: 3%; top: 80px; position: relative; }
}


/*  ===============================================================================================
	=========   MON CODE DE RESPONSIVITE CONSERNANT LE CORPS( C A DIRE LA PARTIR BLANCHE )   ======
	===============================================================================================  */

@media screen and ( min-width: 370px){
	.lecorps{ width: 100%; text-align: left; margin-left: 0px; }
	.lecorps ul li{ margin-left: 0; }
	.h11 b{ margin-left: 1%; font-size: 60%;}
	.h22 b{ line-height: 1em; font-size: 55%;}
	.lecorps p{ margin-left: 3%; padding: 50px 5%; margin-right: 5%;}
}

@media screen and ( min-width: 540px){
	.lecorps{ width: 100%; text-align: left; margin-left: 0px; }
	.lecorps ul li{ margin-left: 0; }
	.h11 b{ margin-left: 1%; font-size: 75%;}
	.h22 b{ line-height: 1em; font-size: 60%;}
	.lecorps p{ margin-left: 3%; padding: 50px 5%; margin-right: 5%;}
}

@media screen and ( min-width: 940px){
	.lecorps{ width: 100%; text-align: left; margin-left: 0px; }
	.lecorps ul li{ margin-left: 0; }
	.h11 b{ margin-left: 1%; font-size: 100%;}
	.h22 b{ line-height: 1em; font-size: 80%;}
	.lecorps p{ margin-left: 3%; padding: 50px 5%; margin-right: 5%;}
}


/*  ===============================================================================================
	=========   MON CODE DE RESPONSIVITE CONSERNANT LE FOOTER( C A DIRE LE PIED DE PAGES )   ======
	===============================================================================================  */

@media screen and (min-width: 370px){
	footer{ display: inline-grid; grid-template-columns: 1fr; height: 950px }
	.logof{ display: inline-grid; grid-template-columns: 0.2fr 3fr }
	.logof img{ margin-left: 15%; }
	.logof p{ text-align: left; }
	.dive1 p{ margin-left: 3%; }
	.service { margin-left: 5%; position: relative;top: -100px; }
	hr{ margin-left: 5%; top: 100px; position: relative;}
	.dive2{ padding-top: 0px; }
	.dive3{ padding-top: 0px; }
	.dive4{ padding-top: 0px; }
	.dive2 p{ margin-left: 5%; }
	.dive3 p{ margin-left: 5%; }
	.dive4 p{ margin-left: 5%; }
	.partner{ text-align: center; top: -90px; position: relative; }
	.CopyRight{ position: relative; top: 600px; }
}

@media screen and (min-width: 670px){
	footer{ display: inline-grid; grid-template-columns: 1fr 1fr; height: 700px}
	.logof{ display: inline-grid; grid-template-columns: 0.2fr 3fr }
	.logof img{ margin-left: 15%; }
	.logof p{ text-align: left; }
	.dive1 p{ margin-left: 3%; }
	.service { margin-left: 5%; }
	.dive2{ padding-top: 150px; }
	.dive3{ padding-top: -20px;}
	.dive4{ padding-top: -20px;}
	.dive2 p{ margin-left: 5%; }
	.dive3 p{ margin-left: 5%; }
	.dive4 p{ margin-left: 5%; }
	.partner{ text-align: center; }
	.CopyRight{ position: relative; top: 300px; }
}

@media screen and (min-width: 1000px){
	footer{ display: inline-grid; grid-template-columns: 1fr 1fr 1fr 1fr; height: 500px}
	.logof{ display: inline-grid; grid-template-columns: 0.2fr 3fr }
	.logof img{ margin-left: 15%; }
	.logof p{ text-align: left; }
	.dive1 p{ margin-left: 3%; }
	.service { margin-left: 5%; }
	.dive2{ padding-top: 150px; }
	.dive3{ padding-top: 150px;}
	.dive4{ padding-top: 150px;}
	.dive2 p{ margin-left: 3%; }
	.dive3 p{ margin-left: 3%; }
	.dive4 p{ margin-left: 3%; }
	.partner{ text-align: center; }
	.CopyRight{ position: relative; top: 5px; }
}

@media screen and (max-width: 800px){
	.SectionContact{  top: 200px;} 
	.sectionService{  top: 200px; height: 668px;}
	.footercontact{position: relative; top: 0px; } 
	.footerservice{position: relative; top: 0px; }
	.headercontact{ height: 830px; } 
	.headerservice{ height: 868px; }
	.asideservice{ width: 75%; }
}
@media screen and (max-width: 972px){
	
 }


























